[Unit]
Description="Lenovo ThinkPad Docking Service"

[Service]
Type=simple
ExecStart=/usr/bin/dockd --daemon

[Install]
Alias=dockd
WantedBy=multi-user.target

